<fieldset>
  <table class="table table-striped" width="100%">
    <tr>
      <td width="20%" ><%= f.file_field :main_file %>
      <%= f.hidden_field :_destroy %></td>
      <td width="80%" ><%= link_to image_tag('minus_alt.png'), '#', class: "remove_fields" %></td>
    </tr>
  </table>
</fieldset>
