<h2>Listing Zip files</h2>
<table class="table table-hover">
  <thead>
   <tr>
    <th>Name</th>
    <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <% @archives.each do |archive| %>
      <tr>
        <td><%= archive.name %></td>
        <td><%= link_to image_tag('download_icon.png'), archive_download_path(:id => archive.id), :data => { toggle: 'tooltip', placement: 'right', title: 'Download Zipfile'} %></td>
        <td><%= link_to image_tag('remove-icon.png'), archive_path(:id => archive.id), method: 'delete', :data => { toggle: 'tooltip', placement: 'right', title: 'Delete Zipfile'} %></td>
      </tr>
    <% end %>
  </tbody>
</table>
