<%= simple_form_for(@archive, html: {class: 'form-horizontal',  role: "form"}) do |f| %>
  <fieldset>
    <div class="form-group">
      <div class="col-sm-8">
        <%= f.label :name, class: "col-sm-4" %>
        <%= f.text_field :name %>
      </div>
    </div>
    <%= f.fields_for :documents do |document| %>
      <%= render 'document_fields', f: document %>
    <% end %>
    <div class="form-group">
      <div class="col-sm-8">
        <%= link_to_add_fields image_tag('plus_icon.png'), f, :documents %></br></br>
      </div>
    </div>
    <%= f.button :submit %>
  </fieldset>
<% end %>
<script type="text/javascript">
$(document).ready(function() {
  $('#add_fields').click(function() {
    alert("dsds");
  });
});
</script>