<!DOCTYPE html>
<html>
<head>
  <title>Dossier</title>
  <meta http-equiv=”refresh” content='5'>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= javascript_include_tag 'application', :cache => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">
    <div class="row">
      <div class="nav navbar navbar-default">
        <div class="container-fluid">
          <div class="navbar-header">
            <a href="<%= archives_path %>" class="navbar-brand"> Archives</a>
            <ul class="nav navbar-nav">
              <li><a href="<%= new_archive_path %>" id="new_archive">Create New Archive</a></li>
            </ul>
        </div>
      </div>
    </div>
    <div class="content">
      <div class="panel">
        <% if alert.present? %>
          <div class="alert-danger">
            <p>
              <%= raw alert %>
            </p>
          </div>
          <div class="login_shadow">&nbsp;</div>
        <% end %>
        <% if notice.present? %>
          <div class="alert-success">
            <p>
              <%= raw notice %>
            </p>
          </div>
          <div class="login_shadow">&nbsp;</div>
        <% end %>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <%= yield %>
      </div>
    </div>
  </div>
</body>
</html>
